<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >  <suite name="Suite1" verbose="1" >  <test name="myJenkinsIntegrationGroupID.myJenkinsIntegrationArttifactID" >    <classes>       <class name="firstTestNGClass" />    </classes>  </test>   <test name="Regression1">    <classes>      <class name="myJenkinsIntegrationArttifactID.firstTestNGClass"/>    </classes>  </test></suite>